#header{
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 10px;
    color: black;
}
.wrapper{
    width: 100%;
    min-height: 70px;
    display: flex;
    align-items: center;
    padding: 0;
    margin-top: 0px;
}

body {
    background: rgb(235, 235, 235) ;
    font-family: 'Poor Story', cursive;
}

.title{
    font-size: 30px;
    margin-left: 30px;
}

h1 {
    text-align: center;
    margin: 80px;
    font-size: 50px;
}

h2 {
    text-align: center;
    margin-top: -70px;
}
.container {
    background: white;
    border: 1px solid black;
    width: 250px;
    height: 350px;
    border-radius: 25px;
    right: 200px;
    display: inline-block;
    margin-right: 70px;
    margin-left: 150px;
    box-shadow: 5px 5px 0px gray;
    margin-top: -10px;
}

.site-container {
    text-align: center;
    margin-top: 60px;
}
p {
    margin-top: 80px;
    font-size: 20px;
    
}

.go-site {
    text-align: center;
    margin-top: 80px;
    margin-left: 50px;
    
}

button {
    border: 1px solid black;
    width: 150px;
    height: 30px;
    border-radius: 20px;
    background: rgb(30, 52, 250);
    color: white;
    margin-right: 50px;
}

button:hover {
    background: rgb(77, 94, 255);
    text-decoration: underline;
    transform: scale(1.1);
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: black;
    text-decoration: underline;
}

img {
    padding: 0;
    margin: 0;
}
p {
    margin: 0;
    padding: 0;
    margin-top: 30px;
}
.campus-map img{
    margin-left: 410px;
    border-radius: 20px;
}
h4 {
    font-size: 30px;
    text-align: center;
}